/* ---------- Color Module Styles ----------- */

body {
  /*text och under footer */
  color: #343a40;
  background: #adb5bd;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #adb5bd;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #0071b3;
  border-bottom-color: rgb(255, 255, 255);
}

#navbar-top {
  background-color: #495057;
}

#navbar-main {
  background-color: #343a40;
}

a,
.link {
  color: #FF69B4;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #AA336A;
}

a:active,
.link:active {
  color: #fff;
}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #AA336A;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #FF69B4;
  border-color: #702963;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #AA336A;
}

.site-footer {
  background: #343a40;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

.node--view-mode-teaser h2 a {
  color: #f9f9f9;
}

.nav-link {
color: #AA336A;

}